.Navbar {
    display: inline-block;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    width: 100vw;
    height: 5vh;
    background-color: white;
    padding-top: 2vh;
    padding-bottom:2vh;
}

button {
    height: auto;
}
